.task-container {
    margin:0 auto;
    width: 300px;
}

.todo-item {
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 7px;
}

#error-box {
    margin: auto;
    width: 300px;
}

.remove-button {
    float: right;
}

.description {
    margin-left: 10px;
    display: inline;
}
