<html>
	<head>
		<title>Simple To-Do</title>
		<link rel="stylesheet" href="static/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="static/css/style.css">
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/script.js"></script>
	</head>
	<body>
		<h1 class="text-center">Simple To-Do</h1>
		<div class="navbar-form text-center">
			<div class="form-group">
				<input type="text" id="todo_input" class="form-control" placeholder="Add a To-Do">
			</div>
			<button type="submit" id="add" class="btn btn-primary">Add</button>
		</div>
        <div id="error-box" class="alert alert-danger">
        </div>
        <div class="task-container">
            <hr>
            <ul id="task-list" class="list-unstyled">
            </ul>
        </div>
	</body>
</html>
